:root {
  --main-base-color: #ffffff;
  --main-color: #40739e;
  --test-color: #111111;
  --test-color-base: #555555;

}

body {
  font-family: sans-serif;
  background-color: var(--main-base-color);
}



h1 {
  position: relative;
  color: var(--main-base-color);
  background: var(--main-color);
  line-height: 1.4;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 20px;
  width: 25em;
}



.main {
  padding: 0.3em 3em;
}

span {
  font-size: 2em;
  color: var(--main-color);
}

input[type=radio]{
  display: none;
}

input[type=radio]:checked + label{
  background: var(--main-color);
  color: var(--main-base-color);
}

label{
  display: inline-block;
  padding: 0.3em 0.7em;
  margin: 1em 0em;
  text-decoration: none;
  color: var(--main-color);
  border: solid 2px var(--main-color);
  border-radius: 30px;
  transition: .2s;
  font-size: 2.6em;
}

input[type=button]{
  display: inline-block;
  padding: 0.5em 1.8em;
  margin: 1em 1em 0em 0em;
  text-decoration: none;
  color: var(--main-color);
  border: solid 2px var(--main-color);
  border-radius: 30px;
  transition: .4s;
  font-size: 3em;
  background: var(--main-base-color);

}

input[class=reset]{
  color: #535c68;
  border: solid 2px #535c68;

}

.ans{
  padding: 0.5em 1.5em;
  display: table;
  color: var(--main-color);
  font-size: 2em;
}
